.testo {
  fill: #050
}

.uva_acerba {
  stroke-width: 5px;
  fill: #ad9;
  stroke: #595;
}

.uva_matura {
  stroke-width: 5px;
  fill: #b9a;
  stroke: #939;
}

.uva_passa {
  stroke-width: 5px;
  fill: #525;
  stroke: #213;
}

.uva_sorgente {
  stroke-width: 5px;
  fill: #700;
  stroke: #500;
}

.viticcio {
  fill: none;
  stroke: #050;
  stroke-width: 4px;
}

#punta {
  fill: #050;
}

.viticcio_to {
  fill: none;
  stroke: #0f0;
  stroke-width: 4px;
}

#punta_to {
  fill: #0f0;
}

.viticcio_B {
  fill: none;
  stroke: #a46;
  stroke-dasharray: 0,5 7;
  stroke-width: 4px;
}

#punta_B {
  fill: #a46;
}

.viticcio_T {
  fill: none;
  stroke: #00a;
  stroke-width: 4px;
}

#punta_T {
  fill: #00a;
}

.viticcio_F {
  fill: none;
  stroke: #46a;
  stroke-dasharray: 0,5 7;
  stroke-width: 4px;
}

#punta_F {
  fill: #46a;
}

.viticcio_C {
  fill: none;
  stroke: #a88;
  stroke-dasharray: 0,5 7;
  stroke-width: 4px;
}

#punta_C {
  fill: #a88;
}
